

    <h3 class="title is-4">ADD PRODUCT  
        <a href="/admin/addProduct">
        <i class="fas fa-plus  icon is-medium"></i>
        </a>
        </h3>
             {{#each lenses}}


	  <div class="container">
		<div class="tile is-ancestor">
			

            <div class="tile is-parent">
				<div class="card">
					<div class="card-image">
                       
						<figure class="image is-4by3">
							<img src="{{this.img}}" alt="Placeholder image">
						</figure>
                         
					</div>

                    {{!-- content --}}

                      

					<div class="card-content">
						<div class="media">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="{{this.img}}" alt="">
								</figure>
							</div>
							<div class="media-content"> 
                                <label id="brand" name="brand" for="brand">{{this.brand}} </label>
                                
                               
							</div>

                             <div class="media-content"> 
                           <label id="description" for="description">{{this.reference}}</label>
                       

                            </div>
					
                          <div class="media-content"> 
                           <label id="description" for="description">{{this.description}}</label>
                   

                            </div>



					</div>
             

					 <footer class="card-footer">
					    <a href="/admin/editProduct/{{this._id}}" class="card-footer-item">edit</a>
						 <a href="/admin/delete/{{this._id}}" class="card-footer-item">delete</a>
					 </footer>
				</div>
			  </div>
               
        {{/each}}
   
                </div>
               
			</div>
        </div> 
		</section>

      