<div class="lens-section   is-mobile ">
<h3 class="title mg-100 is-4">ADD PRODUCT  
			<a href="/admin/addProduct"> <i class="fas fa-plus  icon is-medium"></i></a>
		</h3>
		
		<br>
</div>
	<section class="container-lens minh2  is-mobile">
		 
			 {{#each lenses}}
    
		 
        <div class="column is-3 features">
		
          <div class="card is-shady card-lens">
			
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{this.img}}" alt="Placeholder image" class="modal-button" data-target="modal-image2">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4 class="title is-4"id="brand" name="brand" for="brand">{{this.brand}}</h4>
                <p class="content" id="description" for="description">{{this.description}}</p>
				
				<div class="columns">
				  <a href="/admin/editProduct/{{this._id}}" class="card-footer-item">edit</a>
				  <a href="/admin/delete/{{this._id}}" class="card-footer-item">delete</a>
				  </div>
              </div>
            </div>
			
          </div>
		 
		 
       
   </div>
    {{/each}}
    </section>
	
