<section class="section mg-top  minh">
	<div class="columns mt150">
		<div class="column">
			<img id="preview" src="{{user.info.id_ContactLens.img}}" alt="acuvue box">
		</div>
		<div class="column">
			<button class="button is-warning is-pulled-right shower zi50">
					<span class="icon">
						<i class="far fa-edit"></i>
					</span>
			</button>
			<form id="form0" class="form-horizontal" method="POST" action="/{{#if isAdmin}}admin{{/if}}{{#if isUser}}user{{/if}}/edit/{{user._id}}">
				<fieldset>


				<!-- Select Basic -->
				<div class="field">
				<label class="label" for="lens">Your lenses</label>
				<div class="control">
					<div class="select">
						<select id="lens" name="info.id_ContactLens" class="selection" disabled="true">
							{{#each lenses}}
								{{#areTheSame this.id ../user.info.id_ContactLens._id}}
							<option value="{{this._id}}" data-src="{{this.img}}" selected>{{this.brand}}</option>
								{{else}}
							<option value="{{this._id}}" data-src="{{this.img}}">{{this.brand}}</option>
								{{/areTheSame}}
							{{/each}}
						</select>
					</div>
				</div>
				</div>

				<!-- Select Basic -->
				<div class="field">
				<label class="label" for="frequency">What frequency?</label>
				<div class="control">
					<div class="select">
						<select id="frequency" name="info.frequency" class="selection" disabled="true">
						{{#each frequency}}
						<option 
							value="{{this}}"
							{{#areTheSame this ../user.info.frequency}}
							selected="true"
							{{else}}
							selected="false"
							{{/areTheSame}}
							>{{this}}</option>
						{{/each}}
						</select>
					</div>
				</div>
				</div>

				<!-- Text input-->
				<div class="field">
				<label class="label" for="remainder">Change reminder</label>
				<div class="control">
					<input id="reminder" name="info.reminder" type="date" class="input " readonly="true" value="{{#formatDateInput user.info.reminder}}{{/formatDateInput}}">
				</div>
				</div>


				<!-- Multiple Radios -->
				<div class="field">
				<label class="label" for="delivery">Home delivery?</label>
				<div class="control">
					<label class="radio" for="delivery-0">
					<input 
						type="radio" 
						name="info.delivered" 
						id="delivery-0" 
						value="true" 
						{{#if user.info.delivered}}
						checked="checked"
						{{/if}}
					>
					Yes, please
					</label>
					<label class="radio" for="delivery-1">
					<input 
						type="radio" 
						name="info.delivered" 
						id="delivery-1" 
						value="false"
						{{#unless user.info.delivered}}
						checked="checked"
						{{/unless}}>
					No thanks, I'll come pick it up!
					</label>
				</div>
				</div>

				<!-- Text input-->
				<div class="field">
				<label class="label" for="address">Delivery address</label>
				<div class="control">
					<input id="address" name="address" type="text" placeholder="10 Madison av NY" class="input " readonly="true" value="{{user.address}}">
					
				</div>
				</div>

				<!-- Button (Double) -->
				<div class="field">
				<label class="label" for="edit"></label>
				<div class="control doubleBtn">
					<button id="edit" name="edit" class="button is-primary" type="submit">Save</button>
					<button id="discard" name="discard" class="button is-warning" type="submit" formmethod="GET" formaction="/{{#if isAdmin}}admin{{/if}}{{#if isUser}}user{{/if}}/orders/{{user._id}}">Discard changes</button>
				</div>
				</div>

				</fieldset>
			</form>
		</div>
	</div>

</section>


